.product-box {
    background-color:rgb(141, 43, 31);
    border-bottom-color:rgb(232, 230, 227);
    border-bottom-left-radius:7px;
    border-bottom-right-radius:7px;
    border-bottom-style:none;
    border-bottom-width:0px;
    border-image-outset:0px;
    border-image-repeat:stretch;
    border-image-slice:100%;
    border-image-source:none;
    border-image-width:1;
    border-left-color:rgb(232, 230, 227);
    border-left-style:none;
    border-left-width:0px;
    border-right-color:rgb(232, 230, 227);
    border-right-style:none;
    border-right-width:0px;
    border-top-color:rgb(232, 230, 227);
    border-top-left-radius:7px;
    border-top-right-radius:7px;
    border-top-style:none;
    border-top-width:0px;
    box-sizing:border-box;
    color:rgb(232, 230, 227);
    display:block;
    font-family:"Open Sans", sans-serif;
    font-size:16px;
    font-stretch:100%;
    font-style:normal;
    font-variant-caps:normal;
    font-variant-east-asian:normal;
    font-variant-ligatures:normal;
    font-variant-numeric:normal;
    font-weight:400;
    height:230px;
    line-height:16px;
    margin-bottom:10px;
    margin-left:0px;
    margin-right:0px;
    margin-top:10px;
    padding-bottom:15px;
    padding-left:15px;
    padding-right:15px;
    padding-top:15px;
    position:relative;
    vertical-align:baseline;
    width:600px;
}